@use 'libs/theme' as *;

:export {
	small-mobile: 55ch;
	small-desktop: 65ch;
	medium-mobile: 800px;
	medium-desktop: 1000px;
	large-mobile: 1280px;
	large-desktop: 1440px;
}

.inner {
	width: 100%;
	margin: 0 auto;
	transition: max-width var(--trs-smooth);

	&.size {
		&-small {
			max-width: 55ch;

			@media (min-width: 1192px) {
				max-width: 65ch;
			}
		}

		&-medium {
			max-width: 800px;

			@media (min-width: 1440px) {
				max-width: 1000px;
			}
		}

		&-large {
			max-width: 1280px;

			@media (min-width: 1440px) {
				max-width: 1440px;
			}
		}

		&-full {
			max-width: 100%;
		}
	}
}
